.btn {
    border-radius: 25px;
}

.counter {
    display: inline-block
}

#split, #tip{
    width: 50px;
    text-align: center;
}

input:focus {
    border-bottom: none!important;
    box-shadow: none!important;
}

input {
    border-bottom: none!important;
    box-shadow: none!important;
}

#calc {
    width: 25%;
    margin: auto;

}

#res {
    visibility: hidden;
    width: 25%;
    margin: auto;
}